node_modules
#fixtures
example
dist
components
*.sublime-*
app/components
app/bower_components
src/bower_components
components
bower_components
.cache
.bower-*
.tmp
.sass-cache
.DS_Store
*.log
dump.rdb
geo
#public/*
#!public/index.html
tmpcode